@use "../variables";


* {
  box-sizing: border-box;
}

.titol{
  @apply  text-6xl sm:text-8xl font-logo text-primary-500 text-center font-display;
}
.subtitol{
  @apply  text-center p-4 text-xl sm:text-3xl font-a-ma my-4;
}


.card {
  @apply shadow-xl w-[300px] rounded-xl flex flex-col rounded-xl overflow-hidden ;

  img{
    @apply h-[240px] w-full object-cover object-top;
  }

  h5{
    @apply text-2xl;
  }

  a{
    @apply bg-secondary-500 rounded-xl p-3 absolute bottom-2 ;
  }

  p{
    @apply py-2;
  }

  .card-body{
     @apply p-3 flex flex-col flex-auto pb-16 relative;
  }
}