/**
 * Import any npm dependencies in this file
 * see commented examples below
 */


@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playwrite+NO:wght@100..400&display=swap');

@import "@fortawesome/fontawesome-free/css/all.css";

@import "tailwindcss/index.css"; 