<header class="p-8 flex w-full ">
    <include src="./views/logo.html"></include>
    <nav class="justify-between text-dark-500 font-display text-lg">
        <div class="block sm:hidden text-2xl hover:text-info-500 cursor-pointer" id="nav_btn">
                <i class="fa fa-bars"></i>
        </div>
        <div class="hidden max-sm:bg-white absolute top-0 end-0 h-screen min-w-2/5 p-6 
                    sm:block sm:relative sm:p-0 sm:h-auto" 
             id="navegador">
            <div class="text-lg text-right mb-6 sm:hidden">
                <i class="fas fa-window-close hover:text-info-500 cursor-pointer" id="close_nav_btn"></i>
            </div>
            <ul class="text-2xl flex flex-col sm:flex-row gap-4 text-dark-500 ">
                <li>
                    <a class="hover:text-info-500" href="./ponents.html">Ponents</a>
                </li>
                <li>
                    <a class="hover:text-info-500" href="./blog.html">Blog</a>
                </li>
                <li>
                    <a class="hover:text-info-500" href="./contacte.html">Contacte</a>
                </li>
            </ul>
        </div>
    </nav>
</header>