<div class="flex flex-wrap item-center justify-center gap-3 max-w-6xl mx-auto mb-18">
    <div class="card">
        <img src="./assets/images/ponents/ponent1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Taller de Romescos</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 10 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
    <div class="card">
        <img src="./assets/images/ponents/ponent2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Taller d'allioli</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 17 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
    <div class="card">
        <img src="./assets/images/ponents/ponent3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Xerrada sobre la cuina casolana</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 10 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
    <div class="card">
        <img src="./assets/images/ponents/ponent4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Xerrada Dieta mediterrània</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 10 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
    <div class="card">
        <img src="./assets/images/ponents/ponent5.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Som lo que sembrem</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 10 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
    <div class="card">
        <img src="./assets/images/ponents/ponent6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-4 ">Taller de suquets de peix</h5>
            <h6 class="card-title">amb Maria Pallarès</h6>
            <p class="card-text">Experta en totes les receptes de pebrot, tomaquet, all i oli. Aprendrem tots
                els
                romescos</p>
            <p class="card-text"><small>Divendres 10 de febrer a les 10h</small></p>
            <a href="contacte.html" class="btn btn-secondary">Apunta't al taller</a>
        </div>
    </div>
</div>