<main>
    <div class="o-cartell container">
        <include src="./views/logo.html"></include>
        <nav class="navbar navbar-expand-sm mx-sm-auto" data-bs-theme="light">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-body">
                    <ul class="navbar-nav h4">
                        <li class="nav-item">
                            <a class="nav-link" href="./ponents.html">Ponents</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./blog.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contacte.html">Contacte</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="display-1">Foc a terra</h1>
        <div id="data-container" class="c-data-container position-relative end-0 p-3 bg-secondary">
            <h3 class="h3">Del 10 al 20 de febrer de 2026</h3>
        </div>
        <h2 class="text-center p-4 h3">Primeres Jornades de gastronomia tradicional del Camp de Tarragona</h2>

        <img src="./assets/images/fons_portada.png" alt="Calçots al foc">

        <div id="lloc-container" class="c-lloc">
            <h3>Valls</h3>
            <h4>Plaça de l'oli</h4>
        </div>
        <div class="c-sponsors">
            <h4>Col·laboren:</h4>
            <img src="./assets/images/sponsors/logo1.svg">
            <img src="./assets/images/sponsors/logo2.svg">
            <img src="./assets/images/sponsors/logo3.svg">
            <img src="./assets/images/sponsors/logo4.svg">
            <img src="./assets/images/sponsors/logo5.svg">
        </div>
    </div>
</main>