.o-cartell{
    max-width: 1200px;
    padding:32px;
    text-align: center;

    img{
        width: 100%;
        border-radius: 24px;
    }

    @supports (display:grid){
        overflow: hidden;
        max-width: 100vw;
        padding: 0;
        width:100%;
        display:grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 10vh 10vh 10vh 20vh 20vh 20vh 10vh;
        grid-template-areas:        
        "a a a . . b"
        ". . . . . ."
        ". . c c c c"
        ". d d d d ."
        ". e e e e ."
        "f f f f . ."
        "g g g g g g";   
        
        @include media-breakpoint-up(lg) {
            grid-template-areas:        
            "a a . b b b"
            ". . . . . ."
            ". . . . c c"
            ". . d d . ."
            ". . e e . ."
            ". f . . . ."
            ". . . g g .";   
        }

        .c-logo{
            grid-area: a;
        }

        nav{
            grid-area: b;
            background-color: rgb($light, 0.5);
        }

        .c-data-container{
            grid-area: c;
            border-radius: 24px 0 0 24px;
            font-family: $font-a-ma;
        }

        h1{
            grid-area: d;
            background-color: rgb($light, 0.8);
            padding-top: 5vh;
            border-radius: 24px;
        }

        h2{
            grid-area: e;
            color: $light;
            background-color: rgb($dark, 0.8);
            border-radius: 24px;
        }
        
        .c-lloc{
            grid-area: f;
            background-color: rgb($primary, 0.95);
           
            top:0;
        }

        .c-sponsors{
            grid-area: g;
            background-color: rgb($info, 0.7);
            padding:2vh;
            border-radius: 24px;
            border-radius: 24px 24px 0 0 ;
        }

        img{
            grid-column: 1 / 7;
            grid-row: 2 / 8;
            height:100%;
            width:100%;
            object-fit:cover;
            object-position: center;
            z-index: -1000;
            border-radius: 64px;
            opacity: 0.5;
        }

    }

}